/Codigo_202100953/nbproject/private/
/ ordenamiento Insert-sort/nbproject/private/
/pilas/nbproject/private/
/Codigo_202100953/build/
/ExRegan/build/
/ExRegan1/nbproject/private/
/ExRegan1/build/
/ExRegan1/dist/
